<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Flexbox | Little Known CSS Basics</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/custom.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="stylesheet" href="https://use.typekit.net/mys5clg.css">

  </head>
  <body>
    <div class="reveal">
      <div class="slides" id="vue">
        <section>
          <h1>Little Known <br />CSS Basics <em>Flexbox</em></h1>
        </section>

        <section data-background="https://secure.meetupstatic.com/photos/event/9/c/d/highres_476822509.jpeg"></section>

        <section>
          <section>
            <h2>Flexbox: The Container</h2>
          </section>

          <section>
            <h3><code>display: flex</code></h3>
            <p class="xfragment">This element will use the <b>flexible box layout</b> method to size all its children.</p>
            <h3 class="xfragment"><code>display: inline-flex</code></h3>
            <p class="xfragment"><code>block</code> : <code>inline-block</code> :: <code>flex</code> : <code>inline-flex</code></p>
          </section>

          <section>
            <ul>
              <li><code>flex-direction</code></li>
              <li><code>flex-wrap</code></li>
              <li><code>flex-flow</code></li>
              <li><code>justify-content</code></li>
              <li><code>align-content</code></li>
              <li><code>align-items</code></li>
            </ul>
          </section>

          <section>
            <h3><code>flex-direction</code></h3>
            <p class="xfragment">Set the <em>main axis</em> that flex properties work along</p>
            <ul class="xfragment">
              <li><code>row</code> &mdash; horizontal</li>
              <li><code>column</code> &mdash; vertical</li>
              <li class="xfragment"><code>row-reverse</code></li>
              <li class="xfragment"><code>column-reverse</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="4" property="flex-direction" />
          </section>

          <section>
            <h3><code>flex-wrap</code></h3>
            <p class="xfragment">Allow children to wrap inside the flex container</p>
            <ul>
              <li class="xfragment"><code>nowrap</code></li>
              <li class="xfragment"><code>wrap</code></li>
              <li class="xfragment"><code>wrap-reverse</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="8" property="flex-wrap" />
          </section>

          <section>
            <h3><code>flex-flow</code></h3>
            <p class="xfragment">Shorthand for <code>flex-direction</code> &amp; <code>flex-wrap</code></p>
            <ul>
              <li class="xfragment"><code>row wrap</code></li>
              <li class="xfragment"><code>column wrap-reverse</code></li>
              <li class="xfragment"><code>row-reverse nowrap</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="6" property="flex-flow" />
          </section>

          <section>
            <h3><code>justify-content</code></h3>
            <p class="xfragment">Distributes children along the <em>main axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>start</code></li>
              <li class="xfragment"><code>end</code></li>
              <li class="xfragment"><code>center</code></li>
              <li class="xfragment"><code>left</code></li>
              <li class="xfragment"><code>right</code></li>
            </ul>
          </section>

          <section>
            <h3><code>justify-content</code></h3>
            <p class="xfragment">Distributes children along the <em>main axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>baseline</code></li>
              <li class="xfragment"><code>first baseline</code></li>
              <li class="xfragment"><code>last baseline</code></li>
            </ul>
          </section>

          <section>
            <h3><code>justify-content</code></h3>
            <p class="xfragment">Distributes children along the <em>main axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>space-between</code></li>
              <li class="xfragment"><code>space-around</code></li>
              <li class="xfragment"><code>space-evenly</code></li>
              <li class="xfragment"><code>stretch</code></li>
            </ul>
          </section>

          <section>
            <h3><code>justify-content</code></h3>
            <p class="xfragment">Distributes children along the <em>main axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>safe</code></li>
              <li class="xfragment"><code>unsafe</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="2" property="justify-content" child-override-property="flex" child-override-value="1 1 auto" />
          </section>

          <section>
            <h3><code>align-content</code></h3>
            <p class="xfragment">Distributes children along the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>start</code></li>
              <li class="xfragment"><code>end</code></li>
              <li class="xfragment"><code>center</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-content</code></h3>
            <p class="xfragment">Distributes children along the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>baseline</code></li>
              <li class="xfragment"><code>first baseline</code></li>
              <li class="xfragment"><code>last baseline</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-content</code></h3>
            <p class="xfragment">Distributes children along the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>space-between</code></li>
              <li class="xfragment"><code>space-around</code></li>
              <li class="xfragment"><code>space-evenly</code></li>
              <li class="xfragment"><code>stretch</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-content</code></h3>
            <p class="xfragment">Distributes children along the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>safe</code></li>
              <li class="xfragment"><code>unsafe</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="8" property="align-content" override-wrap />
          </section>

          <section>
            <h3><code>align-items</code></h3>
            <p class="xfragment">Aligns children on the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>start</code></li>
              <li class="xfragment"><code>end</code></li>
              <li class="xfragment"><code>center</code></li>
              <li class="xfragment"><code>self-start</code></li>
              <li class="xfragment"><code>self-end</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-items</code></h3>
            <p class="xfragment">Aligns children on the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>baseline</code></li>
              <li class="xfragment"><code>first baseline</code></li>
              <li class="xfragment"><code>last baseline</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-items</code></h3>
            <p class="xfragment">Aligns children on the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>space-between</code></li>
              <li class="xfragment"><code>space-around</code></li>
              <li class="xfragment"><code>space-evenly</code></li>
              <li class="xfragment"><code>stretch</code></li>
            </ul>
          </section>

          <section>
            <h3><code>align-items</code></h3>
            <p class="xfragment">Aligns children on the <em>cross axis</em> of the flex container</p>
            <ul>
              <li class="xfragment"><code>safe</code></li>
              <li class="xfragment"><code>unsafe</code></li>
            </ul>
          </section>

          <section>
            <flex-container children="4" property="align-items" />
          </section>
        </section>

        <section>
          <section>
            <h2>Flexbox: The Children</h2>
          </section>

          <section>
            <ul>
              <li><code>flex-grow</code></li>
              <li><code>flex-shrink</code></li>
              <li><code>flex-basis</code></li>
              <li><code>order</code></li>
              <li><code>align-self</code></li>
            </ul>
          </section>

          <section>
            <h3><code>flex-grow</code></h3>
            <p class="xfragment">How much of the extra space on the <em>main axis</em> the element is allowed to take up</p>
            <p class="xfragment">Relative to <code>flex-grow</code> of siblings</p>
            <p class="xfragment">Values: <code>integer</code></p>
          </section>

          <section>
            <h3><code>flex-shrink</code></h3>
            <p class="xfragment">How much of the necessary shrinking on the <em>main axis</em> the element must do</p>
            <p class="xfragment">Relative to <code>flex-shrink</code> of siblings</p>
            <p class="xfragment">Values: <code>integer</code></p>
          </section>

          <section>
            <h3><code>flex-basis</code></h3>
            <p class="xfragment">How much space on the <em>main axis</em> the element takes up before growing or shrinking</p>
            <p class="xfragment">Values: <code>length</code></p>
            <p class="xfragment"><code>auto</code> means the element&rsquo;s width</p>
          </section>

          <section>
            <h3><code>flex</code></h3>
            <p class="xfragment">Shorthand:</p>
            <p class="xfragment"><code>grow shrink basis</code></p>
          </section>

          <section>
            <h3><code>order</code></h3>
            <p class="xfragment">Change the element&rsquo;s location along the <em>main axis</em></p>
            <p class="xfragment">Relative to <code>order</code> of all siblings</p>
          </section>

          <section>
            <h3><code>align-self</code></h3>
            <p class="xfragment">Allows the element to override its parent&rsquo;s <code>align-items</code> value</p>
            <p class="xfragment">Value: any <code>align-items</code> value</p>
          </section>

          <section>
            <flex-container interactive-children />
          </section>
        </section>

        <section>
          <section>
            <h2>Use Cases</h2>
          </section>

          <section>
            <h3>Perfect Centering</h3>
            <pre class="xfragment"><code>.container {
  display: flex;
  justify-content: center;
  align-items: center;
}</code></pre>
          </section>

          <section>
            <h3>Perfect Centering</h3>
            <flex-container
              hide-select
              children="1"
              property="justify-content"
              value="center"
              property-b="align-items"
              value-b="center"
            />
          </section>

          <section>
            <h3>Global Grid Layout</h3>
            <pre class="xfragment"><code>.parent {
  display: flex;
  justify-content: space-between;
}
.child {
  /* 3 columns, 20px gap */
  width: calc(33% - (20px * 2 / 3));
}</code></pre>
          </section>

          <section>
            <h3>Global Grid Layout</h3>
            <flex-container
              interactive-children
              children="3"
              property="justify-content"
              value="space-between"
              property-b="align-items"
              value-b="stretch"
              child-override-property="width"
              child-override-value="calc(33% - (20px * 2 / 3))"
            />
          </section>

          <section>
            <h3>Equal-Height Grids</h3>
            <pre class="xfragment"><code>.parent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.child {
  /* 3 columns, 20px gap */
  width: calc(33% - (20px * 2 / 3));
}</code></pre>
          </section>

          <section>
            <h3>Equal-Height Grids</h3>
            <flex-container
              interactive-children
              children="9"
              property="justify-content"
              value="space-between"
              property-b="align-items"
              value-b="stretch"
              child-override-property="width"
              child-override-value="calc(33% - (20px * 2 / 3))"
              child-override-property-b="margin-bottom"
              child-override-value-b="20px"
            />
          </section>

          <section>
            <h3>Other Flexbox Use Cases</h3>
            <div style="display:flex;flex-wrap:wrap;justify-content:center;align-items:start">
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/VVJEEz?editors=1100" target="_blank" rel="noopener">Icons</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/qQzJMq?editors=1100" target="_blank" rel="noopener">Subscribe</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/xQoyNg?editors=1100" target="_blank" rel="noopener">Header/Footer</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/YRmJGq?editors=1100" target="_blank" rel="noopener">&ldquo;Holy Grail&rdquo; Layout</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/Pxrxoy?editors=1100" target="_blank" rel="noopener">Header Nav</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/PxryKE?editors=1100" target="_blank" rel="noopener">Accordion</a></p>
              <p style="margin:.5em"><a href="https://codepen.io/jdsteinbach/pen/jQjQWN?editors=1100" target="_blank" rel="noopener">Quasi-Element Query</a></p>
            </div>
          </section>

          <section>
            <h3>Flexbox vs. Grid</h3>
            <p class="xfragment">Flexbox is 1-dimensional: it sets a <em>main axis</em> and provides controls for positioning elements along that axis.</p>
            <p class="xfragment">Grid is 2-dimensional: it sets both block and inline axes and provides controls for positioning elements along either/both axes.</p>
          </section>
        </section>

        <section>
          <h2>Resources</h2>
          <ul>
            <li><a rel="noreferrer noopener nofollow" target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Flex">MDN: Flex</a></li>
            <li><a rel="noreferrer noopener nofollow" target="_blank" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS-Tricks</a></li>
            <li>Joni Trythall: <a rel="noreferrer noopener nofollow" target="_blank" href="http://jonibologna.com/flexbox-cheatsheet/">Flexbox Cheatsheet</a></li>
            <li>Rachel Andrew: <a rel="noreferrer noopener nofollow" target="_blank" href="https://rachelandrew.co.uk/css/cheatsheets/box-alignment">Box Alignment</a></li>
            <li>Games: <a rel="noreferrer noopener nofollow" target="_blank" href="https://flexboxfroggy.com/">Flexbox Froggy</a>, <a rel="noreferrer noopener nofollow" target="_blank" href="http://www.flexboxdefense.com/">Flexbox Defense</a></li>
            <li><a rel="noreferrer noopener nofollow" target="_blank" href="https://demos.scotch.io/visual-guide-to-css3-flexbox-flexbox-playground/demos/">Flexbox Playground</a></li>
            <li><a rel="noreferrer noopener nofollow" target="_blank" href="https://codepen.io/collection/neWarQ/">CodePen Flexbox Collection</a></li>
            <li><a rel="noreferrer noopener nofollow" target="_blank" href="https://github.com/philipwalton/flexbugs">Flexbugs (&amp; Workarounds)</a></li>
          </ul>
        </section>

        <section>
          <h2>James Steinbach</h2>
          <h3>Senior UX Developer<br /> at <a rel="noreferrer noopener nofollow" target="_blank" href="https://dockyard.com/blog/authors/james-steinbach">DockYard</a></h3>
          <h2><code>jdsteinbach</code></h2>
          <h3><a rel="noreferrer noopener nofollow" target="_blank" href="https://twitter.com">Twitter</a> | <a rel="noreferrer noopener nofollow" target="_blank" href="https://github.com/jdsteinbach">Github</a> | <a href="https://jdsteinbach.com">Blog</a></h3>
        </section>
      </div>

      <a id="colophon" href="https://jdsteinbach.com/css-basics-flexbox">jds.li/flexbox</a>
    </div>


    <script src="lib/js/head.min.js"></script>
    <script src="lib/js/tinycolor.min.js"></script>
    <script src="lib/js/vue.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
      // More info about config & dependencies:
      // - https://github.com/hakimel/reveal.js#configuration
      // - https://github.com/hakimel/reveal.js#dependencies
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        width: 780,
        transition: 'convex',
        dependencies: [
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/zoom-js/zoom.js', async: true }
        ]
      });
    </script>
    <script>
      Vue.use({
        install: function(Vue, options) {
          Object.defineProperty(Vue.prototype, 'uniqId', {
            get: function uniqId() {
              return this._uid;
            }
          });
        }
      });

      Vue.component('flex-container', {
        props: {
          children: {
            type: Number,
            default: 6
          },
          property: {
            type: String,
            default: ''
          },
          value: {
            type: String,
            default: 'initial'
          },
          childOverrideProperty: {
            type: String,
            default: ''
          },
          childOverrideValue: {
            type: String,
            default: ''
          },
          childOverridePropertyB: {
            type: String,
            default: ''
          },
          childOverrideValueB: {
            type: String,
            default: ''
          },
          childOverridePropertyC: {
            type: String,
            default: ''
          },
          childOverrideValueC: {
            type: String,
            default: ''
          },
          interactiveChildren: {
            type: Boolean,
            default: false
          },
          hideSelect: {
            type: Boolean,
            default: false
          },
          overrideWrap: {
            type: Boolean,
            default: false
          },
          propertyB: {
            type: String,
            default: ''
          },
          valueB: {
            type: String,
            default: ''
          },
          propertyC: {
            type: String,
            default: ''
          },
          valueC: {
            type: String,
            default: ''
          }
        },
        methods: {
          updateStyle: function(e) {
            this.value = e.target.value
          }
        },
        computed: {
          currentContainerStyles: function() {
            var styles = this.flexContainerStyles
            if (this.property && this.value) {
              styles[this.property] = this.value
            }
            if (this.propertyB && this.valueB) {
              styles[this.propertyB] = this.valueB
            }
            if (this.propertyC && this.valueC) {
              styles[this.propertyC] = this.valueC
            }
            if (this.overrideWrap || this.interactiveChildren) {
              styles.flexWrap = 'wrap'
            }
            if (this.interactiveChildren) {
              styles.height = '32rem'
              if ([this.property, this.propertyB].indexOf('justify-content') === -1) {
                styles.justifyContent = 'center'
              }
              if ([this.property, this.propertyB].indexOf('align-items') === -1) {
                styles.alignItems = 'center'
              }
            }
            return styles
          },
          propertyOptions: function() {
            return this.propertyValues[this.property]
          },
          childCount: function() {
            var count = []
            for (i = 0;i < this.children; i++) {
              count.push(i+1)
            }
            return count
          },
          interactiveSelf: function() {
            return !this.interactiveChildren && !this.hideSelect
          }
        },
        data: function() {
          return {
            propertyValues: {
              'flex-direction': [
                'row',
                'column',
                'row-reverse',
                'column-reverse'
              ],
              'flex-flow': [
                'row wrap',
                'column wrap',
                'row-reverse wrap',
                'column-reverse wrap',
              ],
              'flex-wrap': [
                'wrap',
                'nowrap',
                'wrap-reverse'
              ],
              'justify-content': [
                'start',
                'end',
                'center',
                'flex-start',
                'flex-end',
                'left',
                'right',
                'normal',
                'baseline',
                'first baseline',
                'last baseline',
                'space-between',
                'space-around',
                'space-evenly',
                'stretch'
              ],
              'align-content': [
                'start',
                'end',
                'center',
                'flex-start',
                'flex-end',
                'normal',
                'baseline',
                'first baseline',
                'last baseline',
                'space-between',
                'space-around',
                'space-evenly',
                'stretch'
              ],
              'align-items': [
                'start',
                'end',
                'center',
                'flex-start',
                'flex-end',
                'self-start',
                'self-end',
                'normal',
                'baseline',
                'first baseline',
                'last baseline'
              ]
            },
            flexContainerStyles: {
              display: 'flex',
              margin: '2rem 2px 0',
              padding: '2px',
              height: '24rem',
              border: '2px solid #eee'
            },
            labelStyles: {
              display: 'block',
              textAlign: 'center',
              fontSize: '3rem'
            },
            selectStyles: {
              padding: '.125em .5em',
              border: '2px solid #222',
              borderRadius: '.25em',
              fontSize: '3rem'
            },
            optionStyles: {
              fontSize: '4rem'
            }
          }
        },
        beforeMount () {
          this.id = this._uid
        },
        template: '<div><div v-if="interactiveSelf"><label :for="id" :style="labelStyles">{{property}}</label><select :id="id" :style="selectStyles" v-model="value" v-on:change="updateStyle"><option selected>initial</option><option v-for="prop in propertyOptions" :style="optionStyles">{{prop}}</option></select></div><div class="flex-container" :style="currentContainerStyles"><flex-child v-for="child in childCount" :property="childOverrideProperty" :value="childOverrideValue" :property-b="childOverridePropertyB" :value-b="childOverrideValueB" :property-c="childOverridePropertyC" :value-c="childOverrideValueC" :iteration="child" :is-interactive="interactiveChildren"></flex-child></div></div>'
      });

      Vue.component('flex-child', {
        props: {
          isInteractive: {
            type: Boolean,
            default: false
          },
          iteration: {
            type: Number,
            default: 1
          },
          property: {
            type: String,
            default: ''
          },
          value: {
            type: String,
            default: ''
          },
          propertyB: {
            type: String,
            default: ''
          },
          valueB: {
            type: String,
            default: ''
          },
          propertyC: {
            type: String,
            default: ''
          },
          valueC: {
            type: String,
            default: ''
          }
        },
        data: function() {
          return {
            defaultStyles: {
              display: 'block',
              marginTop: 0,
              marginRight: 0,
              marginBottom: 0,
              marginLeft: 0,
              padding: '1rem 2rem .5rem',
              width: '200px',
              minHeight: '6rem',
              background: 'linear-gradient(120deg, #60569c, #3f3967)',
              color: '#eee',
              textAlign: 'center',
              fontSize: '5rem',
              fontWeight: 'bold',
              lineHeight: '6rem',
              position: 'relative',
              boxSizing: 'border-box'
            },
            iteratorDefaultStyles: {
              position: 'absolute',
              top: 0,
              left: 0,
              padding: '1rem .125em 0',
              color: '#eee',
              fontSize: '2rem',
              lineHeight: 1,
              textShadow: 'none',
              opacity: .75
            },
            labelStyles: {
              position: 'absolute',
              height: 0,
              width: 0,
              overflow: 'hidden',
              display: 'none'
            },
            inputStyles: {
              fontSize: '1.5rem',
              margin: '0 0 .5rem',
              padding: 0,
              display: 'block',
              width: '100%'
            },
            allowedProperties: [
              'flex',
              'flex-grow',
              'flex-shrink',
              'flex-basis',
              'align-self',
              'order',
              'margin-top',
              'margin-left',
              'margin-bottom',
              'margin-right',
              'height',
              'width'
            ]
          }
        },
        computed: {
          childStyles: function() {
            var styles = this.defaultStyles
            if (this.isInteractive) {
              if (
                this.property &&
                this.allowedProperties.indexOf(this.property) > -1 &&
                this.value
              ) {
                styles[this.property] = this.value
              }
              if (
                this.propertyB &&
                this.allowedProperties.indexOf(this.propertyB) > -1 &&
                this.valueB
              ) {
                styles[this.propertyB] = this.valueB
              }
              if (
                this.propertyC &&
                this.allowedProperties.indexOf(this.propertyC) > -1 &&
                this.valueC
              ) {
                styles[this.propertyC] = this.valueC
              }
            } else {
              styles.padding = 0
            }
            return styles
          },
          iteratorStyles: function() {
            var styles = this.iteratorDefaultStyles
            if (!this.isInteractive) {
              styles.padding = 0
              styles.position = 'static'
              styles.lineHeight = '1'
            }
            return styles
          },
          propertyID: function() {
            return 'p-' + this.id
          },
          valueID: function() {
            return 'v-' + this.id
          }
        },
        beforeMount () {
          this.id = this._uid
        },
        template: '<div :style="childStyles"><div v-if="isInteractive"><label :style="labelStyles" :for="propertyID">Property</label><input :style="inputStyles" placeholder="Property" :id="propertyID" type="text" v-model="property" /><label :style="labelStyles" :for="valueID">Value</label><input :style="inputStyles" placeholder="Value" :id="valueID" type="text" v-model="value" /></div><span :style="iteratorStyles">{{iteration}}</span></div>'
      })

      new Vue({el: '#vue'});
    </script>
  </body>
</html>
